<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div> -->

<!--es1. The Hero Editor /[(ngModel)] / two-way-binding -->
<!--es2. Display a List / *ngFor="let x of values" / forOf per creare tnt elementi con valori aggiornati -->


<!-- Mock dei dati, configuro in base a come so che saranno impostati i dati 
    che mi arrivano, ma non so cosa c'è dentro -->
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" >  <!--qst riga x far vedere la direttiva *ngFOr  -->

   <!-- <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <span class="badge">{{hero.id}}</span> 
            <span class="name">{{hero.name}}</span>
        </button> -->

        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>


<!-- 
<app-hero-detail [hero]="selectedHero" ></app-hero-detail>

 -->